.wrapper {
    margin: auto;
    padding: 30px 150px 0 30px;
    min-height: 500px;
    width: 600px;
    background-color: white;
    border-radius: 10px;
}

.header {
    font-weight: bold;
    font-size: 24px;
    text-transform: uppercase;
}